.lobster-two-regular {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .lobster-two-bold {
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .lobster-two-regular-italic {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .lobster-two-bold-italic {
    font-family: "Lobster Two", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

  .mukta-vaani-extralight {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .mukta-vaani-light {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .mukta-vaani-regular {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .mukta-vaani-medium {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .mukta-vaani-semibold {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .mukta-vaani-bold {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .mukta-vaani-extrabold {
    font-family: "Mukta Vaani", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  